@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  width: 100%;
  height:0 auto;
  margin:0 auto;
  padding: 0;
  background-color: #0D0D0D;
  font-family: 'poppins', sans-serif;
}

/*role*/
header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
  border-bottom: 0.1px solid rgb(211, 211, 211);
  background-color: #ffffff;
  color: #3083FE;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 37%;

}


.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav {
  margin-right: 46px;
  display: flex;
  justify-content: center;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}


/*navigation*/
.nav-links a {
  text-decoration: none;
  font-weight: 500;
  padding-left:16px;
  color: #000000;
  font-weight: Medium;
  transition: color 0.3s ease;
  width: 100%;
  height: 0px;
}



.nav-links a:hover {
  color: #3083FE;
  transition: ease-in;


}

.nav-links.show {
  display: flex;
}

.nav-links li {
  margin: 0;
  text-align: center;
  padding: 10px;
}

.hamburger-menu {
  display: none;
  font-size: 1.5em;
  cursor: pointer;
}

.about{
margin-top:60px;
text-align: center;
color: #fff;
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}

.aboutme{
  margin-top: 1.25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    width: 100%;
    height: 426px;
    color: #000000;
    gap:3.125rem;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
width:745px;
font-weight: 400;
font-size: 20px;
}
.gokul_profile{
  margin-top: 10px;
}
.gokul_profile{
background-repeat: no-repeat;
}

.button-container_2 {
  display: flex;
  margin-top: 30px;
}

.button_2 {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  display: inline-flex;
  padding: 9px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  color: #fff;
  background: var(--43A5FF, #3083FE);
  font-weight: 500;
  font-size: 18px;
}

.button_2:hover {
  margin-top: 30px;
  border: 2px #1970e1;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  display: inline-flex;
  padding: 9px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  color: #1970e1;
  background: var(--43A5FF, #d0e2fe);
  font-size: 18px;
  font-weight: 500;
}
.skills_title{
margin-left: 199px;
margin-top: 50px;
display: flex;
flex-direction: row;
align-items: flex-start;
width: 341px;
color: #FFF;
font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

/*progress bar*/
.tool-container1 
{
  margin-top:30px;
  margin-left: 13%;
  width: fit-content;
  color: #ffffff;
  display:flex;
  flex-direction:row;
  gap: 110px;
  justify-content: center;
}


.tool_name{
 width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  gap:50px;
  opacity:90%;
  
}
.tool1.tool2 {
  width:350px;
}

.progress-bar {
  width: 400px;
  height: 7px;
  background-color: rgba(180, 180, 180, 0.878);
  border-radius: 8px;
  position: relative;
}

.progress-bar::after {
  content: '';
  width: var(--progress);
  height: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.tool-container2{
  margin-top:40px;
  width: fit-content;
  color: #ffffff;
  display:flex;
  flex-direction:row;
  gap: 110px;
  justify-content: center;
  margin-left: 13%;
}
.tool-container3{
  margin-top:40px;
  width: fit-content;
  color: #ffffff;
  display:flex;
  flex-direction:row;
  gap: 110px;
  justify-content: center;
  margin-left: 13%;
}

.education{
  margin-top:30px;
  color:white;
  margin-left: 11.4%;
  display:flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  gap:15px;

}
.S{
  display: flex;
  flex-direction: row;
  width:230px;
}
.arrow{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 0px;
  flex-shrink: 0;
  color: #FFF;
  background-color: #FFF;
}

/*footer*/

.box {
  border-top:2px solid rgba(100, 100, 100, 0.332); 
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center horizontally */
  align-items: center;
  width: 100%;
  height: 299px;
  color: #FFF;
}
